## SET Definition

*A set is the collectiopn of unordered items.
*Each element in the set must be unique(not duplicate)
*Sets remove the duplicate elements.
*Sets are mutable means we can chgange it after its creation.
*Unlike other collection in python there is no index attached to the element of the sets.
*So we cannot directly access any element.

## Creating the Sets

In [1]:
Days={"Monday","Tuesday","Webnesday","Thursday","Friday","Saturday","Sunday"}
print(Days)

{'Saturday', 'Monday', 'Thursday', 'Friday', 'Webnesday', 'Tuesday', 'Sunday'}

## Adding the element

In [2]:
fruits={'Apple','Mango','Grapes'}
print(fruits)
fruits.add('Strawberry')
print(fruits)

{'Mango', 'Apple', 'Grapes'}
{'Mango', 'Apple', 'Grapes', 'Strawberry'}

In [3]:
fruits.update("Banana")
print(fruits)

{'B', 'Grapes', 'a', 'Strawberry', 'n', 'Mango', 'Apple'}

## Removing elements

In [4]:
fruits={'Apple','Mango','Grapes','Strawberry','Banana'}
fruits.discard ('Apple')

In [5]:
print(fruits)

{'Banana', 'Grapes', 'Strawberry', 'Mango'}

In [6]:
fruits.discard('Kiwi')

In [7]:
print(fruits)

{'Banana', 'Grapes', 'Strawberry', 'Mango'}

In [8]:
fruits.remove('Grapes')

In [9]:
print(fruits)

{'Banana', 'Strawberry', 'Mango'}

In [10]:
fruits.discard('Kiwi')
print(fruits)

{'Banana', 'Strawberry', 'Mango'}

In [11]:
fruits.remove('Kiwi')
print(fruits)

KeyError: 'Kiwi'

## Set Operators

- union()
- intersection()
- difference()
- symmetic_difference()

In [13]:
my_set={1,2,3,4}
my_set_2={3,4,5,6}
print(my_set.union(my_set_2))

{1, 2, 3, 4, 5, 6}

In [15]:
print( my_set|my_set_2)

{1, 2, 3, 4, 5, 6}

In [16]:
print(my_set.intersection(my_set_2))

{3, 4}

In [17]:
print(my_set & my_set_2)

{3, 4}

In [18]:
print(my_set.difference(my_set_2))

{1, 2}

In [19]:
print(my_set - my_set_2)

{1, 2}

In [20]:
print(my_set.symmetric_difference(my_set_2))

{1, 2, 5, 6}

In [21]:
print(my_set ^ my_set_2)

{1, 2, 5, 6}

## Check is subset

In [23]:
a={4,5}
b={1,2,3,4,5}
a.issubset(b)

True

In [24]:
b.issubset(a)

False

## Check if a set is a subset, using comparison opertors

In [25]:
a={'a','b'}
b={'a','b','c'}
a<=b

True

In [26]:
b<=a

False

In [28]:
S1={1,2,3,4,1,2}
S2={1,3,5,6,7}
S1.issubset(S2)

False

In [29]:
s1={1,2,3,4,1,2}
s2={1,3,5,6,7,4,2}
s1.issubset(s2)

True

In [30]:
s2.issubset(s1)

False

## In And not in

In [31]:
s={5,7,9}
5 in s

True

In [32]:
10 in s

False

In [35]:
x={'a','b','c'}
'd' not in x

True

In [36]:
'a' not in x

False